/* style.css */
html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main-menu {
    background-color: #f8f9fa;
    /* Kolor tła - jasny szary */
    padding: 10px;
    /* Odstęp wewnętrzny */
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav-item {
    text-align: center;
}

.nav-link-main {
    color: #343a40 !important;
    /* Kolor tekstu - ciemny szary */
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu {
    text-align: right;
    /* Wyrównaj do prawej strony */
    margin-top: 20px;
    /* Dodaj margines na górze */
}

ul {
    list-style-type: none;
    /* Usunięcie standardowych punktorów listy */
    padding: 0;
    /* Usunięcie wewnętrznego marginesu listy */
}

li {
    display: inline;
    /* Elementy listy wyświetlane obok siebie, a nie jeden pod drugim */
    margin-left: 20px;
    /* Odstęp między elementami listy */
}

.matches-container {
    margin-right: 20px;
}

.table-container {
    flex: 2;
}




.matches-container {
    margin-right: 20px;
}

.table-container {
    flex: 2;
}

img {
    max-height: 50px;
    /* Maksymalna wysokość obrazka w tabeli */
}

.custom-padding {
    padding-top: 20px;
}

.center-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.btn-custom {
    background-color: #f0f0f0;
    color: #333;
    border-color: #ccc;
}

.btn-custom:active,
.btn-custom:focus {
    background-color: #f0f0f0;
    color: #333;
    border-color: #ccc;
}
.small-chart {
    max-width: 300px; /* Maksymalna szerokość */
    max-height: 300px; /* Maksymalna wysokość */
    width: 100% !important; /* Ustawienie szerokości */
    height: auto !important; /* Ustawienie wysokości */
    display: inline-block; /* Wyświetlenie obok siebie */
    margin-right: 20px; /* Odstęp między wykresami (możesz dostosować według potrzeb) */
}
.charts-container {
    text-align: center; /* Wyrównanie elementów do środka */
}
.login-info {
    position: relative;
    height: 100%; /* Ustaw wysokość zgodnie z potrzebami */
    overflow: hidden;
}

.login-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/background_login.png');
    background-size: cover;
    filter: blur(5px);
    z-index: -1; 
}

.login-info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
