<!DOCTYPE html>
<html>

<head>
    <title>Wyniki meczów</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <h2 onclick="toggleList('upcoming-list')">Nadchodzące mecze</h2>
    <ul id="upcoming-list" class="">
        {% for match in upcoming_matches %}
        <li onclick="openStatsUMA('{{ match[5] }}','{{ match[0] }}' )">
            {{ match[0] }}
            <br>
            <img src="{{ match[3] }}" alt="Logo drużyny" height="13em"> {{ match[1] }} -:- {{ match[2] }} <img
                src="{{ match[4] }}" alt="Logo drużyny" height="13em">
            <br>
        </li>
        {% endfor %}
    </ul>
</body>

</html>