<!DOCTYPE html>
<html>
<head>
    <title>Logowanie i rejestracja</title>
</head>
<body>
    <h1>Logowanie i rejestracja</h1>

    <h2>Logowanie</h2>
    <form method="post">
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Zaloguj">
    </form>


</body>
</html>
