<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Dodaj link do Bootstrapa -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header class="bg-dark text-danger p-3">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand">{{username}}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user_type == 'guest' %}
                    <li class="nav-item"><a class="nav-link text-white" href="/login_register">Logowanie/Rejestracja</a>
                    </li>
                    {% elif user_type == 'user' %}
                    <!-- Dodaj opcje dostępne tylko dla użytkownika -->
                    <li class="nav-item"><a class="nav-link text-white" href="/logout">Wyloguj się</a></li>
                    {% elif user_type == 'user_premium' %}
                    <!-- Dodaj opcje dostępne tylko dla użytkownika -->
                    <li class="nav-item"><a class="nav-link text-white" href="/logout">Wyloguj się</a></li>
                    {% elif user_type == 'admin' %}
                    <!-- Dodaj opcje dostępne tylko dla administratora -->
                    <li class="nav-item"><a class="nav-link text-white" href="/admin">Panel administratora</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/logout">Wyloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="main-menu">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link-main text-light" href="/">Main</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/teams">Tabela</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/matches">Mecze</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/wyniki">Wyniki</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/archiwum">Archiwum</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <header class="bg-dark text-danger p-3">

        </header>

        <!-- Skorzystaj z klas Bootstrapa do zarządzania układem -->
        <div class="row">
            <div class="col-md-6 matches-container">
                <h2>Nadchodzące mecze</h2>
                <div class="row">
                    {% for match in upcoming_matches %}
                    <div class="col-md-12 mb-2">
                        <div class="card" onclick="openStatsUM('{{ match[5] }}')">
                            <div class="card-body">
                                <h5 class="card-title">{{ match[0] }}</h5>
                                <p class="card-text text-center">
                                    <img src="{{ match[3] }}" alt="Logo drużyny" height="30"> {{ match[1] }} -:- {{
                                    match[2] }} <img src="{{ match[4] }}" alt="Logo drużyny" height="30">
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 table-container" style="margin-right: 20px;">
                <h2>Tabela</h2>
                <table class="table" style="width: 99%;">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Nazwa drużyny</th>
                            <th>MP</th>
                            <th>W</th>
                            <th>D</th>
                            <th>L</th>
                            <th>GD</th>
                            <th>PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index in indexes %}
                        <tr>
                            <td>{{ index }}</td>
                            <td onclick="openTeam('{{ teams[index-1][0] }}')"
                                data-original-team-id="{{ teams[index-1][1] }}">
                                <img src="{{ teams[index-1][2] }}" alt="Logo drużyny" class="img-fluid">
                                {{ teams[index-1][1] }}
                            </td>
                            <td>{{ teams[index-1][3] + teams[index-1][4] + teams[index-1][5] }}</td>
                            <td>{{ teams[index-1][3] }}</td>
                            <td>{{ teams[index-1][4] }}</td>
                            <td>{{ teams[index-1][5] }}</td>
                            <td>{{ teams[index-1][7] }}</td>
                            <td>{{ teams[index-1][8] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Dodaj link pod tabelą -->
                <div class="text-center bg-dark bg-dark text-danger p-3">
                    <a href="/teams" class="text-white">Pokaż pełną tabelę</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid custom-padding mt-4">
        <header class="bg-dark text-danger p-3">
            <!-- Zawartość nagłówka -->
        </header>
        <div class="row">
            <div class="col-md-9 table-container" style="margin-right: 20px;">
                {% if user_type == 'guest' %}
                <div class="login-info d-flex flex-column justify-content-center align-items-center">
                    <div class="login-info-text">
                        <p class="text-center">Wykresy dostępne tylko dla zalogowanych użytkowników.</p>
                        <a href="/login_register" class="text-center">Logowanie/Rejestracja</a>
                    </div>
                </div>

                {% else %}
                <!-- Zawartość dla zalogowanych użytkowników -->
                <div class="charts" style="text-align: center; margin-top: 20px;">
                    <select id="teamSelect">
                        {% for team in teamsc %}
                        <option value="{{ team[0] }}">{{ team[1] }}</option>
                        {% endfor %}
                    </select>
                    <select id="teamSelect2"></select>
                    <div class="container" style="text-align: center; margin-top: 20px;">
                        <div class="row">
                            <div class="col-md-4">
                                <canvas id="myChartA" class="small-chart"></canvas>
                            </div>
                            <div class="col-md-4">
                                <canvas id="myChart" class="small-chart"></canvas>
                            </div>
                            <div class="col-md-4">
                                <canvas id="myChartB" class="small-chart"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
            <div class="col-md-3 table-container" style="margin-right: 20px;">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link-main text-light" onclick="showgoalsTable()">Gole</a></li>
                    <li class="nav-item"><a class="nav-link-main text-light" onclick="showassistsTable()">Assysty</a>
                    </li>
                </ul>
                <table class="table" style="width: 99%;" id="goalsTable">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Imie Nazwisko</th>
                            <th>Goals</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for index in pindexes %}
                        <tr>
                            <td>{{ index }}</td>
                            <td> <img src="{{ players[index-1][2] }}" alt="Logo drużyny" class="img-fluid"> {{
                                players[index-1][1] }}</td>
                            <td>{{ players[index-1][3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table" style="width: 99%; display: none;" id="assistsTable">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Imie Nazwisko</th>
                            <th>Assysty</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for index in paindexes %}
                        <tr>
                            <td>{{ index }}</td>
                            <td> <img src="{{ playersa[index-1][2] }}" alt="Logo drużyny" class="img-fluid"> {{
                                playersa[index-1][1] }}</td>
                            <td>{{ playersa[index-1][3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <header class="bg-dark text-danger p-3">
            <!-- Zawartość nagłówka -->
        </header>

        <div class="row custom-padding">
            <!-- Dodaj kafelki z rozegranymi meczami -->
            {% for match in played_matches %}
            <div class="col-md-4">
                <div class="card" onclick="openStats('{{ match[7] }}')">
                    <div class="card-body">
                        <h5 class="card-title">{{ match[0] }}</h5>
                        <p class="card-text text-center">
                            <img src="{{ match[5] }}" alt="Logo drużyny" height="30"> {{ match[1] }} {{ match[2] }} : {{
                            match[3] }} {{ match[4] }} <img src="{{ match[6] }}" alt="Logo drużyny" height="30">
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <script>
            document.getElementById('teamSelect').addEventListener('change', function () {
                var selectedTeamId = this.value;
                fetch('/get_teams', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ teamId: selectedTeamId })
                })
                    .then(response => response.json())
                    .then(data => {
                        var teamSelect2 = document.getElementById('teamSelect2');

                        // Wyczyszczenie elementu <select> przed dodaniem nowych opcji
                        teamSelect2.innerHTML = '';

                        // Przechodzenie przez dane graczy i tworzenie opcji dla każdego gracza
                        data.teamsb.forEach(function (teamsb) {
                            var option = document.createElement('option');
                            option.value = teamsb.id;
                            option.textContent = teamsb.name; // Ustawianie tekstu opcji na pełne imię i nazwisko gracza
                            teamSelect2.appendChild(option); // Dodawanie opcji do listy rozwijanej
                        });
                    })
                    .catch(error => {
                        console.error('Błąd pobierania danych:', error);
                    });
            });
            document.getElementById('teamSelect2').addEventListener('change', function () {
                var selectedTeamId = document.getElementById('teamSelect').value;
                var selectedTeam2Id = this.value;

                // Znajdź istniejące wykresy na canvasach myChartA i myChartB, jeśli istnieją
                var existingChartA = Chart.getChart("myChartA");
                var existingChartB = Chart.getChart("myChartB");

                // Jeśli istnieją, zniszcz wykresy, aby wyczyścić je przed utworzeniem nowych
                if (existingChartA) {
                    existingChartA.destroy();
                }

                if (existingChartB) {
                    existingChartB.destroy();
                }

                fetch('/generate_charts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ teamId: selectedTeamId, teamId2: selectedTeam2Id })
                })
                    .then(response => response.json())
                    .then(data => {
                        const canvasA = document.getElementById('myChartA');
                        const ctxA = canvasA.getContext('2d');

                        const canvasB = document.getElementById('myChartB');
                        const ctxB = canvasB.getContext('2d');


                        const myChartA = new Chart(ctxA, {
                            type: 'pie',
                            data: {
                                labels: data.teamA.labels,
                                datasets: [{
                                    label: '',
                                    data: data.teamA.values,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.5)',
                                        'rgba(54, 162, 235, 0.5)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                
                            }
                        });

                        const myChartB = new Chart(ctxB, {
                            type: 'pie',
                            data: {
                                labels: data.teamB.labels,
                                datasets: [{
                                    label: '',
                                    data: data.teamB.values,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.5)',
                                        'rgba(54, 162, 235, 0.5)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                // Konfiguracja dodatkowych opcji, jeśli są potrzebne
                            }
                        });

                        
                    })
                    .catch(error => {
                        console.error('Błąd pobierania danych:', error);
                    });
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>