<!DOCTYPE html>
<html>

<head>
    <title>Menu</title>
</head>

<body>
    <h1>Menu</h1>
    <ul>
        <li><a href="/teams">Drużyny</a></li>
        <li><a href="/matches">Mecze</a></li>

        {% if user_type == 'guest' %}
        <li><a href="/login_register">Logowanie/Rejestracja</a></li>
        {% elif user_type == 'user' %}
        <!-- Dodaj opcje dostępne tylko dla użytkownika -->
        <li><a href="/user_profile">Profil użytkownika</a></li>
        <li><a href="/logout">Wyloguj się</a></li>
        {% elif user_type == 'admin' %}
        <!-- Dodaj opcje dostępne tylko dla administratora -->
        <li><a href="/admin">Panel administratora</a></li>
        <li><a href="/logout">Wyloguj się</a></li>
        {% endif %}
    </ul>

    <!-- Przycisk do uruchamiania skryptu -->
    <button id="runScript">Uruchom Skrypt</button>

    <script>
        // Po kliknięciu przycisku "Uruchom Skrypt"
        document.getElementById("runScript").addEventListener("click", function () {
            // Wykonaj żądanie GET do trasy /run_script
            fetch('/sql', { method: 'GET' })
                .then(response => {
                    if (response.status === 200) {
                        alert('Skrypt został uruchomiony.');
                    } else {
                        alert('Wystąpił błąd podczas uruchamiania skryptu.');
                    }
                })
                .catch(error => {
                    console.error('Błąd:', error);
                    alert('Wystąpił błąd podczas uruchamiania skryptu.');
                });
        });
    </script>
</body>

</html>