<!DOCTYPE html>
<html>

<head>
    <title>Wyniki meczów</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header class="bg-dark text-danger p-3">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Main</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user_type == 'guest' %}
                    <li class="nav-item"><a class="nav-link text-white" href="/login_register">Logowanie/Rejestracja</a></li>
                    {% elif user_type == 'user' %}
                    <!-- Dodaj opcje dostępne tylko dla użytkownika -->
                    <li class="nav-item"><a class="nav-link text-white" href="/user_profile">Profil użytkownika</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/logout">Wyloguj się</a></li>
                    {% elif user_type == 'admin' %}
                    <!-- Dodaj opcje dostępne tylko dla administratora -->
                    <li class="nav-item"><a class="nav-link text-white" href="/admin">Panel administratora</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/logout">Wyloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <div class="main-menu">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link-main text-light" href="/">Main</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/teams">Tabela</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/matches">Mecze</a></li>
            <li class="nav-item"><a class="nav-link-main text-light" href="/archiwum">Archiwum</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <header class="bg-dark text-danger p-3">
           
        </header>
    
    <h1>Wyniki meczów</h1>

    <h2 onclick="toggleList('upcoming-list')">Nadchodzące mecze</h2>
    <ul id="upcoming-list" class="">
        {% for match in upcoming_matches %}
        <li onclick="console.log('matchID:', '{{ match[5] }}'); openStatsUM('{{ match[5] }}')">
            {{ match[0] }}
            <br>
            <img src="{{ match[3] }}" alt="Logo drużyny" height="13em"> {{ match[1] }} -:- {{ match[2] }} <img
                src="{{ match[4] }}" alt="Logo drużyny" height="13em">
            <br>
        </li>
        {% endfor %}
    </ul>

    <h2 onclick="toggleList('played-list')">Rozegrane mecze</h2>
    <ul id="played-list" class="hidden">
        {% for match in played_matches %}
        <li onclick="openStats('{{ match[7] }}')">
            {{ match[0] }}
            <br>
            <img src="{{ match[5] }}" alt="Logo drużyny" height="13em"> {{ match[1] }} {{ match[2] }}:{{ match[3] }} {{
            match[4] }} <img src="{{ match[6] }}" alt="Logo drużyny" height="13em">
            <br>
        </li>
        {% endfor %}
    </ul>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>