<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Player Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center">
                    <img onclick="openTeam('{{ player[1] }}')" src="{{ player[2] }}" height="30"> {{ player[0] }}
                </p>
            </div>
        </div>
        <header class="bg-dark text-danger p-3">

        </header>
        <div class="main-menu bg-light">
            <ul class="nav container-fluid">
                <li class="nav-item">
                    <a class="nav-link-main text-dark" onclick="showPlayer('{{playera[0]}}')">Statystyki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-main text-dark" onclick="showPlayerCompare('{{playera[0]}}')">Porównanie</a>
                </li>
            </ul>
            
        </div>
        {% if user_type == 'guest' or user_type == 'user' %}
        <div class="row">
            <div class="col-md-12 mb-4" id="homeTable">
                <header class="bg-dark text-danger p-3">

                </header>
                <div class="compare-info  d-flex flex-column justify-content-center align-items-center" >
                    <div class="login-info-text">
                        
                        <p class="text-center">Wykresy dostępne tylko dla zalogowanych użytkowników premium.</p>
                       
                    </div>
                </div>
            </div>

                {% else %}
        <div class="row">

           


                <div class="col-md-12 mb-4" id="awayTable">
                    <select id="teamSelect">
                        {% for team in teams %}
                        <option value="{{ team[0] }}">{{ team[1] }}</option>
                        {% endfor %}
                    </select>

                    <select id="playerSelect"></select>
                    <div class="d-flex justify-content-center">
                        <canvas id="timeCanvas"></canvas>
                    </div>
                    <div class="d-flex justify-content-center">

                    </div>
                </div>
            </div>
            {% endif %}            
            <script>
                var ctx1 = document.getElementById('timeCanvas').getContext('2d');
                var img1 = new Image();
                img1.onload = function () {
                    ctx1.canvas.width = img1.width;
                    ctx1.canvas.height = img1.height;
                    ctx1.drawImage(img1, 0, 0);
                }
                img1.src = 'data:image/png;base64,{{ time_played }}';



            </script>

            <script>
                document.getElementById('teamSelect').addEventListener('change', function () {
                    var selectedTeamId = this.value;
                    var playerID = "{{ playerID }}";
                    fetch('/get_players', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ teamId: selectedTeamId, playerID: playerID })
                    })
                        .then(response => response.json())
                        .then(data => {
                            var playerSelect = document.getElementById('playerSelect');

                            // Wyczyszczenie elementu <select> przed dodaniem nowych opcji
                            playerSelect.innerHTML = '';

                            // Przechodzenie przez dane graczy i tworzenie opcji dla każdego gracza
                            data.players.forEach(function (player) {
                                var option = document.createElement('option');
                                option.value = player.player_id; // Ustawianie wartości na ID gracza
                                option.textContent = player.full_name; // Ustawianie tekstu opcji na pełne imię i nazwisko gracza
                                playerSelect.appendChild(option); // Dodawanie opcji do listy rozwijanej
                            });
                        })
                        .catch(error => {
                            console.error('Błąd pobierania danych:', error);
                        });
                });
                document.getElementById('playerSelect').addEventListener('change', function () {
                    var selectedPlayerId = this.value; // Pobranie wybranego player_id
                    var playerID = "{{ playerID }}";
                    // Wykorzystanie wybranego player_id do wysłania na serwer Flask
                    fetch('/get_player_data', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            player_id: selectedPlayerId,
                            playerID: playerID
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Ustawienie danych base64 jako źródło obrazu dla canvas
                            const canvas = document.getElementById('timeCanvas');
                            const ctx = canvas.getContext('2d');
                            const img = new Image();
                            img.onload = function () {
                                ctx.canvas.width = img.width;
                                ctx.canvas.height = img.height;
                                ctx.drawImage(img, 0, 0);
                            };
                            img.src = 'data:image/png;base64,' + data.time_played;
                        })
                        .catch(error => {
                            console.error('Błąd pobierania danych:', error);
                        });
                });
            </script>

            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>