<!DOCTYPE html>
<html>

<head>
    <title>Analiza przedmeczowa</title>
    <!-- Dodanie Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        td.win {
            background-color: #90EE90; /* Zielony */
        }

        td.draw {
            background-color: #d3d3d3; /* Szary */
        }

        td.loss {
            background-color: #FFA07A; /* Jasnoczerwony */
        }
    </style>
</head>

<body>
    <div class="container">

        <!-- Tabela z statystykami meczu -->
        <div class="container">
            <h1 class="text-center">Statystyki meczu</h1>

            <!-- Karty z informacjami o meczach -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ match[0] }}</h5>
                    <p class="card-text text-center">
                        <img src="{{ logoA[0] }}" height="50"> {{ teamA }} {{ match[1] }} : {{ match[2] }} {{ teamB }}
                        <img src="{{ logoB[0] }}" height="50">
                    </p>
                </div>
            </div>


        </div>
        <div class="container-fluid">
            <header class="bg-dark text-danger p-3">

            </header>
            <div class="main-menu bg-light">
                <ul class="nav container-fluid">
                    <li class="nav-item"><a class="nav-link-main text-dark"
                            onclick="openStats('{{ match[3] }}')">Statystyki</a></li>
                    <li class="nav-item"><a class="nav-link-main text-dark" 
                            onclick="openComposition('{{ match[3] }}')">Skład</a></li>
                    <li class="nav-item">
                        <a class="nav-link-main text-dark" 
                        onclick="showMatchAnalysis('{{ match[3] }}')">Analiza przedmeczowa</a></li>
                </ul>
            </div>
            <header class="bg-dark text-danger p-3">
    
            </header>
    
        {% if teamA and teamB %}
        
        <p>Średnia liczba bramek drużyny {{ teamA }} z poprzednich meczy: {{ srednia_teamA|float|round(2) }}</p>
        <p>Średnia liczba bramek drużyny {{ teamB }} z poprzednich meczy: {{ srednia_teamB|float|round(2) }}</p>
    
            <table class="table center-table">
                <thead>
                    <tr>
                        <th>{{ teamA }}</th>
                        <th>Remis</th>
                        <th>{{ teamB }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="win" style="width: {{ (win_prob_teamA * 100)|round(2) }}%;">{{ (win_prob_teamA * 100)|round(2) }}%</td>
                        <td class="draw" style="width: {{ (draw_prob * 100)|round(2) }}%;">{{ (draw_prob * 100)|round(2) }}%</td>
                        <td class="loss" style="width: {{ (win_prob_teamB * 100)|round(2) }}%;">{{ (win_prob_teamB * 100)|round(2) }}%</td>
                    </tr>
                </tbody>
            </table>
    
    
            <div class="container">
                <div class="row">
                    <h3>Prawdopodobieństwo strzelenia danej liczby bramek:</h3>
                    <div class="col-md-6">
                        <p>Dla drużyny {{ teamA }}:</p>
                        <ul class="list-group">
                            {% for k in range(4) %}
                                <li class="list-group-item">{{ k }} bramki: {{ (prawdopodobienstwa_teamA[k] * 100)|float|round(2) }}%</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        
                        <p>Dla drużyny {{ teamB }}:</p>
                        <ul class="list-group">
                            {% for k in range(4) %}
                                <li class="list-group-item">{{ k }} bramki: {{ (prawdopodobienstwa_teamB[k] * 100)|float|round(2) }}%</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Mecz o podanym ID nie istnieje.</p>
        {% endif %}
        </div>

        <!-- Dodanie Bootstrap JS -->
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
