<div class="row">
    <div class="col-md-6" id="tableColumn">
        <table id="wholeTable" class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nazwa drużyny</th>
                    <th>MP</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>GD</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                {% for index in indexes %}
                <tr>
                    <td>{{ index }}</td>
                    <td data-original-team-id="{{ teams[index-1][1] }}">
                        <img src="{{ teams[index-1][2] }}" alt="Logo drużyny" class="img-fluid">
                        {{ teams[index-1][1] }}
                    </td>
                    <td>{{ teams[index-1][3] + teams[index-1][4] + teams[index-1][5] }}</td>
                    <td>{{ teams[index-1][3] }}</td>
                    <td>{{ teams[index-1][4] }}</td>
                    <td>{{ teams[index-1][5] }}</td>
                    <td>{{ teams[index-1][7] }}</td>
                    <td>{{ teams[index-1][8] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div class="col-md-6" style="max-height: 1000px; overflow-y: auto;">
    <ul id="played-list">
        {% for match in matches %}
        <li class="list-group-item d-flex justify-content-between align-items-center"
            onclick="openStatsA('{{ match[7] }}')" style="cursor: pointer;">
            <div class="d-flex flex-column">
                <span>{{ match[0] }}</span> 
                <span><img src="{{ match[5] }}" alt="Logo drużyny" height="25">    {{ match[1] }}</span>
                <span><img src="{{ match[6] }}" alt="Logo drużyny" height="25">    {{ match[4] }}</span>
            </div>
            <div class="d-flex flex-column">
                <span>&nbsp;</span> 
                <span>{{ match[2] }}</span>
                <span>{{ match[3] }}</span>
            </div>
        </li><br>
        {% endfor %}
    </ul>
</div>

</div>
