<!DOCTYPE html>
<html>

<head>
    <title>Statystyki meczu</title>
    <!-- Dodanie Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">

        <!-- Tabela z statystykami meczu -->
        <div class="container">
            <h1 class="text-center">Statystyki meczu</h1>

            <!-- Karty z informacjami o meczach -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text text-center">
                        <img src="{{ logoA[0] }}" height="50"> {{ teamA }} - : - {{ teamB }}
                        <img src="{{ logoB[0] }}" height="50">
                    </p>
                </div>
            </div>


        </div>
        <div class="container-fluid">
            <header class="bg-dark text-danger p-3">

            </header>

            <div class="main-menu bg-light">
                <ul class="nav container-fluid">
                    <li class="nav-item">
                        <a class="nav-link-main text-dark" onclick="showStatsUM('{{ match[3] }}')">Analiza przedmeczowa</a>
                    </li>
                    <li class="nav-item"><a class="nav-link-main text-dark"
                            onclick="openStats('{{ match[3] }}')">H2H</a></li>
                    <li class="nav-item"><a class="nav-link-main text-dark" href="/teams">Skład</a></li>
                </ul>
            </div>
            {% if teamA and teamB %}


            <p>Średnia liczba bramek drużyny {{ teamA }} z poprzednich meczy: {{ srednia_teamA|float|round(2) }}</p>
            <p>Średnia liczba bramek drużyny {{ teamB }} z poprzednich meczy: {{ srednia_teamB|float|round(2) }}</p>
    
            <div class="container">
                <div class="row">
                    <h3>Prawdopodobieństwo strzelenia danej liczby bramek:</h3>
                    <div class="col-md-6">
                        <p>Dla drużyny {{ teamA }}:</p>
                        <ul class="list-group">
                            {% for k in range(4) %}
                                <li class="list-group-item">{{ k }} bramki: {{ (prawdopodobienstwa_teamA[k] * 100)|float|round(2) }}%</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        
                        <p>Dla drużyny {{ teamB }}:</p>
                        <ul class="list-group">
                            {% for k in range(4) %}
                                <li class="list-group-item">{{ k }} bramki: {{ (prawdopodobienstwa_teamB[k] * 100)|float|round(2) }}%</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Mecz o podanym ID nie istnieje.</p>
        {% endif %}
        </div>
        <!-- Dodanie Bootstrap JS -->
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>